#include "windows.h"

// https://learn.microsoft.com/en-gb/windows/win32/menurc/versioninfo-resource
1 VERSIONINFO
FILEVERSION 1,1,0,0
PRODUCTVERSION 1,1,0,0
FILEFLAGS VS_FF_PRERELEASE
FILEOS VOS_NT
FILETYPE VFT_APP
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
    	BLOCK "040904E4"
	BEGIN
	    VALUE "CompanyName",	"Rayzchen"
	    VALUE "FileDescription",	"3to4++: Virtual physical 3x3x3x3 puzzle simulator"
	    VALUE "FileVersion",	"1.1.0.0"
	    VALUE "InternalName",	"3to4++"
	    VALUE "OriginalFilename",	"3to4++.exe"
	    VALUE "ProductName",	"3to4pp"
	    VALUE "ProductVersion",	"1.1.0.0"
	END
    END
END

100 ICON icons/icons.ico
